@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

.todos-bg-container {
    background-color: #f9fbfe;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todos-heading {
    text-align: center;
    font-size: 46px;
    font-weight: 500;
    margin-bottom: 20px;
}

.create-task-heading, .todo-items-heading {
    font-size: 32px;
    font-weight: 700;
}

.create-task-heading-subpart, .todo-items-heading-subpart {
    font-weight: 500;
}

.todo-user-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e4e7eb;
    border-radius: 10px;
    margin-top: 10px;
}

.button {
    background-color: #4c63b6;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.todo-items-container {
    list-style-type: none;
    padding: 0;
}

.todo-item-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.checkbox-label {
    flex-grow: 1;
    font-size: 18px;
}

.delete-icon {
    color: red;
    cursor: pointer;
    padding: 10px;
}

.checked {
    text-decoration: line-through;
    color: gray;
}
